@font-face {
    font-family: 'icomoon';
    src: url("../../fonts/font-icon/icomoon.eot");
    src: url("../../fonts/font-icon/icomoon.eot") format("embedded-opentype"), url("../../fonts/font-icon/icomoon.ttf") format("truetype"), url("../../fonts/font-icon/icomoon.woff") format("woff"), url("../../fonts/font-icon/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\e96b";
}

.icon-phone:before {
    content: "\e968";
}

.icon-telephone:before {
    content: "\e968";
}

.icon-contact:before {
    content: "\e968";
}

.icon-support:before {
    content: "\e968";
}

.icon-call:before {
    content: "\e968";
}

.icon-info:before {
    content: "\e965";
}

.icon-plus-alt:before {
    content: "\e910";
}

.icon-add:before {
    content: "\e910";
}

.icon-close1:before {
    content: "\e931";
}

.icon-add1:before {
    content: "\e911";
}

.icon-plus:before {
    content: "\e911";
}

.icon-sum:before {
    content: "\e911";
}

.icon-narrow:before {
    content: "\e912";
}

.icon-select:before {
    content: "\e912";
}

.icon-filter:before {
    content: "\e912";
}

.icon-double-tick-svgrepo-com:before {
    content: "\e962";
}

.icon-medical-bottle-svgrepo-com:before {
    content: "\e946";
}

.icon-medicines-medicine-svgrepo-com:before {
    content: "\e947";
}

.icon-medicines-svgrepo-com:before {
    content: "\e948";
}

.icon-drugs-on-a-pharmacy-truck-for-delivery-svgrepo-com:before {
    content: "\e949";
}

.icon-presentation-board:before {
    content: "\e94c";
}

.icon-landscape-text-file:before {
    content: "\e94d";
}

.icon-edit-file:before {
    content: "\e94e";
}

.icon-Outline:before {
    content: "\e94f";
}

.icon-clipboard:before {
    content: "\e950";
}

.icon-bitcoin:before {
    content: "\e951";
}

.icon-account1:before {
    content: "\e952";
}

.icon-users1:before {
    content: "\e937";
}

.icon-profile:before {
    content: "\e938";
}

.icon-multiple-image:before {
    content: "\e939";
}

.icon-clock:before {
    content: "\e93a";
}

.icon-add-photo:before {
    content: "\e93b";
}

.icon-add-image:before {
    content: "\e93c";
}

.icon-account:before {
    content: "\e93d";
}

.icon-account2:before {
    content: "\e93e";
}

.icon-Vector1:before {
    content: "\e900";
}

.icon-Combined-Shape:before {
    content: "\e901";
}

.icon-Vector:before {
    content: "\e902";
    color: #5d5868;
}

.icon-Arrow---Right:before {
    content: "\e903";
}

.icon-like:before {
    content: "\e961";
}

.icon-checkmark:before {
    content: "\e96c";
}

.icon-plus1:before {
    content: "\e913";
}

.icon-add2:before {
    content: "\e913";
}

.icon-cross:before {
    content: "\e92f";
}

.icon-th-menu:before {
    content: "\e96e";
}

.icon-info-large:before {
    content: "\e967";
}

.icon-heart-outline:before {
    content: "\e957";
}

.icon-heart:before {
    content: "\e958";
}

.icon-bell1:before {
    content: "\e934";
}

.icon-arrow-right2:before {
    content: "\e92a";
}

.icon-arrow-left2:before {
    content: "\e92b";
}

.icon-arrow-down2:before {
    content: "\e92c";
}

.icon-arrow-up2:before {
    content: "\e92d";
}

.icon-push_pin:before {
    content: "\e96f";
}

.icon-bookmark_outline:before {
    content: "\e95c";
}

.icon-bookmark:before {
    content: "\e95d";
}

.icon-headset_mic1:before {
    content: "\e955";
}

.icon-headset_mic:before {
    content: "\e953";
}

.icon-share:before {
    content: "\e94b";
}

.icon-content_copy:before {
    content: "\e94a";
}

.icon-clear:before {
    content: "\e930";
}

.icon-keyboard_arrow_up:before {
    content: "\e926";
}

.icon-keyboard_arrow_right:before {
    content: "\e927";
}

.icon-keyboard_arrow_left:before {
    content: "\e928";
}

.icon-keyboard_arrow_down:before {
    content: "\e929";
}

.icon-search:before {
    content: "\e904";
}

.icon-add_photo_alternate:before {
    content: "\e905";
}

.icon-star_rate:before {
    content: "\e906";
}

.icon-star_outline:before {
    content: "\e907";
}

.icon-star_outline1:before {
    content: "\e908";
}

.icon-star_half:before {
    content: "\e909";
}

.icon-check:before {
    content: "\e90a";
}

.icon-mail1:before {
    content: "\e96a";
}

.icon-phone1:before {
    content: "\e969";
}

.icon-paperclip:before {
    content: "\e964";
}

.icon-send:before {
    content: "\e963";
}

.icon-thumbs-down:before {
    content: "\e95e";
}

.icon-mail:before {
    content: "\e945";
}

.icon-home:before {
    content: "\e944";
}

.icon-download1:before {
    content: "\e943";
}

.icon-users:before {
    content: "\e935";
}

.icon-bell:before {
    content: "\e932";
}

.icon-filter1:before {
    content: "\e90b";
}

.icon-arrow-up:before {
    content: "\e90c";
}

.icon-arrow-right:before {
    content: "\e90d";
}

.icon-arrow-left:before {
    content: "\e90e";
}

.icon-arrow-down:before {
    content: "\e90f";
}

.icon-circle-with-minus:before {
    content: "\e914";
}

.icon-minus:before {
    content: "\e915";
}

.icon-plus2:before {
    content: "\e916";
}

.icon-menu:before {
    content: "\e96d";
}

.icon-information-outline:before {
    content: "\e966";
}

.icon-trash:before {
    content: "\e959";
}

.icon-download:before {
    content: "\e942";
}

.icon-education:before {
    content: "\e941";
}

.icon-close:before {
    content: "\e92e";
}

.icon-arrow-outline-up:before {
    content: "\e917";
}

.icon-arrow-outline-right:before {
    content: "\e918";
}

.icon-arrow-outline-left:before {
    content: "\e919";
}

.icon-arrow-outline-down:before {
    content: "\e91a";
}

.icon-arrow-right1:before {
    content: "\e91b";
}

.icon-arrow-left1:before {
    content: "\e91c";
}

.icon-arrow-down1:before {
    content: "\e91d";
}

.icon-arrow-up1:before {
    content: "\e91e";
}

.icon-thumbs-o-down:before {
    content: "\e95f";
}

.icon-thumbs-down1:before {
    content: "\e960";
}

.icon-trash-o:before {
    content: "\e95a";
}

.icon-trash1:before {
    content: "\e95b";
}

.icon-drivers-license-o:before {
    content: "\e956";
}

.icon-sign-out:before {
    content: "\e954";
}

.icon-camera:before {
    content: "\e940";
}

.icon-user:before {
    content: "\e93f";
}

.icon-group:before {
    content: "\e936";
}

.icon-bell-o:before {
    content: "\e933";
}

.icon-star-half-empty:before {
    content: "\e91f";
}

.icon-star-half-full:before {
    content: "\e91f";
}

.icon-star-half-o:before {
    content: "\e91f";
}

.icon-star-o:before {
    content: "\e920";
}

.icon-star:before {
    content: "\e921";
}

.icon-arrow-circle-down:before {
    content: "\e922";
}

.icon-arrow-circle-up:before {
    content: "\e923";
}

.icon-arrow-circle-right:before {
    content: "\e924";
}

.icon-arrow-circle-left:before {
    content: "\e925";
}