@media screen and (max-width: 991px) {

}

@media screen and (max-width: 480px) {
  .AZ-page-container {
    width: 100%;
  }
  .page-header-title {
    font-size: 16px;
  }
  .AZ-forum-list {
    .forum-item-name {
      font-size: 14px;
    }

    .forum-item-time {
      font-size: 10px;
    }
  }
  .offcanvas {
    max-width: 100%;
  }
  // bottom navbar
  .bottom-navber {
    left: 0;
    right: 0;
    width: 100%;
  }
  .AZ-section-title {
    font-size: 14px;
  }
  .AZ-section-text {
    font-size: 12px;
  }
  .AZ-research-page .research-details-title {
    font-size: 16px;
  }
  .message-box {
    .chat__conversation-panel {
      width: 100%;
    }

    .chat__conversation-header {
      width: 100%;
    }
  }
  .bottom-navber {
    .slider {
      width: 90px;
      height: 75%;
      // background-position: center top;
      background-size: 80px;
    }

    li {
      // flex-grow: 1;
      padding: 10px;
      // height: 100%;
    }

    .slider {
      transform: translateX(-65%);
    }
  }
}