@charset "UTF-8";
@font-face {
  font-family: "IRANSans-Bold";
  src: url("../fonts/iransansXFaNum/IRANSansXFaNum-Bold.eot") format("embedded-opentype"), url("../fonts/iransansXFaNum/IRANSansXFaNum-Bold.woff") format("woff"), url("../fonts/iransansXFaNum/IRANSansXFaNum-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "IRANSans-Medium";
  src: url("../fonts/iransansXFaNum/IRANSansXFaNum-Medium.eot") format("embedded-opentype"), url("../fonts/iransansXFaNum/IRANSansXFaNum-Medium.woff") format("woff"), url("../fonts/iransansXFaNum/IRANSansXFaNum-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "IRANSans-Regular";
  src: url("../fonts/iransansXFaNum/IRANSansXFaNum-Regular.eot") format("embedded-opentype"), url("../fonts/iransansXFaNum/IRANSansXFaNum-Regular.woff") format("woff"), url("../fonts/iransansXFaNum/IRANSansXFaNum-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Nastaliq";
  src: url("../fonts/Nastaliq.ttf");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  direction: rtl;
  background: #F9F8FC;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.my-80 {
  margin: 80px 0;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.my-100 {
  margin: 100px 0;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.AZ-img-container {
  position: relative;
  overflow: hidden;
  display: block;
}
.AZ-img-container::after {
  content: "";
  display: block;
}

.AZ-img-container-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AZ-img-cover img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.AZ-page-container {
  width: 480px;
  margin: 0 auto;
  background: #ffffff;
  min-height: 100vh;
  height: 100vh;
}
.AZ-page-container > .container {
  padding-bottom: 150px;
  background: #fff;
}

.AZ-section-title {
  font-size: 20px;
  color: #123E44;
  font-family: "IRANSans-Bold";
  margin-bottom: 15px;
}

.AZ-section-text {
  font-size: 14px;
  color: #322450;
  font-family: "IRANSans-Regular";
}

.AZ-primary-btn,
.AZ-secondary-btn {
  font-size: 14px;
  color: #ffffff;
  font-family: "IRANSans-Medium";
  padding: 8px 20px;
  transition: all 0.2s linear;
  border-radius: 5px;
  background: #643FAE;
  border: 1.5px solid #643FAE;
}
.AZ-primary-btn:hover,
.AZ-secondary-btn:hover {
  color: #ffffff;
}

.AZ-secondary-btn {
  background: transparent;
  color: #000000;
  border: 1.5px solid #643FAE;
}
.AZ-secondary-btn:hover {
  color: #fff;
  background: #643FAE;
}

.save-form-btn {
  background: #4AB26D;
  border: 1px solid #4AB26D;
}
.save-form-btn:hover {
  color: #fff;
  background: #339453;
}

.cancel-form-btn {
  border: 1px solid #4AB26D;
}
.cancel-form-btn:hover {
  color: #fff;
  background: #4AB26D;
}

.back-btn {
  position: absolute;
  left: 0;
  font-size: 18px;
  color: #000000;
}

.page-header-title {
  font-size: 20px;
  color: #000000;
  font-family: "IRANSans-Bold";
  padding: 0 30px;
}

.AZ-field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.AZ-field-group label {
  font-size: 12px;
  color: #000000;
  font-family: "IRANSans-Regular";
  margin-bottom: 10px;
}
.AZ-field-group label span {
  text-decoration: underline;
}
.AZ-field-group input, .AZ-field-group textarea {
  font-size: 11px;
  color: #7B7B7B;
  font-family: "IRANSans-Regular";
  border-radius: 5px;
  border: 1px solid rgba(100, 63, 174, 0.16);
  padding: 10px;
}
.AZ-field-group input:focus, .AZ-field-group textarea:focus {
  border: 1px solid #643FAE;
}
.AZ-field-group input {
  height: 36px;
}

.group-field_inner {
  display: flex;
  padding: 0;
  display: flex;
  align-items: center;
  height: 36px;
  border-radius: 5px;
  border: 1px solid rgba(100, 63, 174, 0.16);
  padding: 5px;
}
.group-field_inner input {
  background: transparent;
  border: 0;
  height: 100%;
  border-radius: 0;
  flex-grow: 2;
}
.group-field_inner input:focus {
  border: 0;
}
.group-field_inner span {
  font-size: 18px;
  color: #643FAE;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-field_inner:focus-within {
  border: 1px solid #643FAE;
}

.datepicker-container .datepicker-plot-area {
  width: 200px;
  border-radius: 10px;
  padding: 15px;
}
.datepicker-container .datepicker-plot-area .toolbox {
  display: none;
}
.datepicker-container .datepicker-plot-area .header {
  padding: 0;
  height: auto;
}
.datepicker-container .datepicker-plot-area .datepicker-navigator {
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #b6b6b6;
  padding-bottom: 10px;
}
.datepicker-container .datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
  position: absolute;
  top: 0;
  left: 0;
}
.datepicker-container .datepicker-plot-area .datepicker-navigator .pwt-btn-prev::after {
  content: "\e92b";
  font-family: "icomoon";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.datepicker-container .datepicker-plot-area .datepicker-navigator .pwt-btn-next {
  position: absolute;
  top: 0;
  right: 0;
}
.datepicker-container .datepicker-plot-area .datepicker-navigator .pwt-btn-next::after {
  content: "\e92a";
  font-family: "icomoon";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.datepicker-container .datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
  text-align: center;
  font-size: 13px;
  font-family: "IRANSans-Bold";
  color: #333333;
  width: -moz-fit-content;
  width: fit-content;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 0 10px 0 30px;
  margin: 0;
  position: relative;
}
.datepicker-container .datepicker-plot-area .datepicker-navigator .pwt-btn-switch::after {
  content: "\e929";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  font-size: 16px;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
  font-size: 14px;
  font-family: "IRANSans-Bold";
  color: #9C9A9A;
  background: #f5f5f5;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days .selected {
  background: #643FAE;
  border-radius: 50%;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days .selected span {
  text-shadow: unset !important;
  color: #FFFFFF !important;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days .today {
  background: #6A4BA7;
  border-radius: 50%;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days .today span {
  text-shadow: unset !important;
  color: #FFFFFF !important;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days .today::after {
  content: unset;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days .today::before {
  content: unset;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days span {
  font-size: 14px;
  font-family: "IRANSans-Bold";
  color: #666666;
  background: transparent !important;
  margin: 8px 0 !important;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days span:hover {
  color: #14426A;
}
.datepicker-container .datepicker-plot-area .datepicker-day-view .table-days .other-month {
  color: #CFCDCD;
}

.upload_image .preview-profile-img {
  min-width: 100px;
  outline: 1px solid rgba(100, 63, 174, 0.1607843137);
  border-radius: 50%;
}
.upload_image .preview-profile-img::after {
  padding-bottom: 100%;
}
.upload_image .upload-profile-wrapper {
  margin-top: -20px;
  position: relative;
  z-index: 1;
}
.upload_image .upload-profile-wrapper input {
  display: none;
}
.upload_image .upload-profile-wrapper label {
  padding: 5px 20px;
  font-size: 14px;
  font-family: "IRANSans-Bold";
  color: #4D585F;
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 4px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.upload_image .upload-profile-wrapper label:hover {
  background: rgb(216, 216, 216);
}
.upload_image .upload-profile-wrapper label span {
  margin-left: 10px;
}

.AZ-styled-select {
  min-width: 80px;
  height: 25px;
  background: transparent;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(100, 63, 174, 0.16);
}
.AZ-styled-select::before {
  content: "\e929";
  font-family: "icomoon";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 16px;
}
.AZ-styled-select select {
  font-size: 12px;
  padding: 0 5px;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  font-family: "IRANSans-Medium";
  height: 100%;
  width: 100%;
  color: #3C2669;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.AZ-tabs-wrapper {
  overflow-x: auto;
}
.AZ-tabs-wrapper li {
  padding: 0 15px;
}
.AZ-tabs-wrapper .tab-link {
  font-size: 15px;
  color: #74717B;
  font-family: "IRANSans-Bold";
  position: relative;
  padding: 5px;
}
.AZ-tabs-wrapper .tab-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
}
.AZ-tabs-wrapper .active .tab-link {
  color: #523390;
}
.AZ-tabs-wrapper .active .tab-link::after {
  background: #643FAE;
}

.AZ-education-page .AZ-educational-tabs {
  width: 100%;
}
.AZ-education-page .AZ-educational-tabs li {
  flex-grow: 1;
  padding: 0;
}
.AZ-education-page .AZ-educational-tabs li:last-child .tab-link {
  border-radius: 11px 0px 0px 11px;
}
.AZ-education-page .AZ-educational-tabs li:first-child .tab-link {
  border-radius: 0 11px 11px 0;
}
.AZ-education-page .AZ-educational-tabs .tab-link {
  background: #F6F3FC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  color: #727070;
}
.AZ-education-page .AZ-educational-tabs .tab-link::after {
  content: none;
}
.AZ-education-page .AZ-educational-tabs .active .tab-link {
  color: #ffffff;
  background: #643FAE;
}
.AZ-education-page .AZ-styled-select {
  position: absolute;
  right: 0;
}
.AZ-education-page .page-header-title {
  font-size: 23px;
  color: #000000;
  font-family: "IRANSans-Bold";
  padding: 0 70px 0 30px;
}

.AZ-post-card {
  border-radius: 8px;
  background: #F9F8FC;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.AZ-post-card .post-card-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}
.AZ-post-card .post-card-img::after {
  padding-bottom: 70%;
}
.AZ-post-card .post-card-title {
  font-size: 12px;
  color: #000000;
  font-family: "IRANSans-Bold";
  margin-bottom: 10px;
}
.AZ-post-card .post-card-text {
  font-size: 12px;
  color: #4E475D;
  font-family: "IRANSans-Bold";
  margin-bottom: 10px;
}
.AZ-post-card .read-more-btn {
  font-size: 10px;
  color: #746DBA;
  font-family: "IRANSans-Bold";
}
.AZ-post-card .read-more-btn span {
  font-size: 16px;
}

.AZ-post-card-horizontal {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(100, 63, 174, 0.2);
}
.AZ-post-card-horizontal .post-horizontal-img {
  width: 82px;
  border-radius: 4px;
}
.AZ-post-card-horizontal .post-horizontal-img::after {
  padding-bottom: 100%;
}
.AZ-post-card-horizontal .post-horizontal-title {
  font-size: 15px;
  color: #000000;
  font-family: "IRANSans-Bold";
  margin-bottom: 6px;
}
.AZ-post-card-horizontal .post-card-writer,
.AZ-post-card-horizontal .post-card-clock,
.AZ-post-card-horizontal .post-card-date,
.AZ-post-card-horizontal .read-more-btn {
  font-size: 12px;
  color: #746DBA;
  font-family: "IRANSans-Bold";
}
.AZ-post-card-horizontal .post-card-category {
  font-size: 13px;
  color: #643FAE;
  font-family: "IRANSans-Medium";
  display: block;
  margin-bottom: 8px;
}

.AZ-search-wrapper {
  border-radius: 5px;
  border: 1px solid rgba(71, 52, 243, 0.16);
  background: #EBEBEE;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  flex-grow: 1;
}
.AZ-search-wrapper input {
  font-size: 14px;
  color: #7B7B7B;
  font-family: "IRANSans-Medium";
  flex-grow: 2;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 5px;
}
.AZ-search-wrapper button {
  color: #7B7B7B;
  font-size: 20px;
  padding: 0 15px;
  background: transparent;
  border: 0;
}

.filter-btn {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid rgba(71, 52, 243, 0.16);
  background: #EBEBEE;
  color: #000000;
}

.filter-canvas {
  border-radius: 12px 12px 0 0;
  border: 0;
}
.filter-canvas .offcanvas-title {
  font-size: 16px;
  color: #000000;
  font-family: "IRANSans-Bold";
}

.offcanvas {
  margin: 0 auto;
  max-width: 480px;
  height: 60vh;
}

.AZ-workshop-card {
  border-radius: 7px;
  background: #E1D8F4;
  padding: 9px;
}
.AZ-workshop-card .workshop-card-img {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 10px;
}
.AZ-workshop-card .workshop-card-img::after {
  padding-bottom: 80%;
}
.AZ-workshop-card .workshop-card-title {
  font-size: 17px;
  color: #000000;
  font-family: "IRANSans-Bold";
  margin: 5px 0;
}
.AZ-workshop-card .workshop-card-price {
  font-size: 14px;
  color: #000000;
  font-family: "IRANSans-Regular";
}
.AZ-workshop-card .workshop-card-teacher {
  font-size: 14px;
  color: #4F4F4F;
  font-family: "IRANSans-Regular";
}
.AZ-workshop-card .number-participants {
  font-size: 14px;
  color: #595561;
  font-family: "IRANSans-Regular";
  border-radius: 5px;
  background: #EEEBF4;
  padding: 5px 10px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 3px;
}
.stars span {
  font-size: 10px;
  color: #EC930D;
}

.AZ-version-category {
  background: #E1D8F4;
  border-radius: 8px;
}
.AZ-version-category img {
  width: 35px;
}
.AZ-version-category .version-category-text {
  font-size: 14px;
  color: #000000;
  font-family: "IRANSans-Medium";
}

.modal-wrapper .modal-content {
  border: 1px solid #695592;
  background: #F8F7FA;
}
.modal-wrapper .btn-close-modal {
  width: 23px;
  height: 23px;
  background: #B2A2D0 !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #482392;
  border: 0;
}
.modal-wrapper .modal-title {
  font-size: 19px;
  color: #000000;
  font-family: "IRANSans-Bold";
}

.AZ-faq-box {
  border-radius: 5px;
  border: 1px solid rgba(100, 63, 174, 0.4);
  margin-bottom: 10px;
  height: 40px;
  padding: 5px;
}
.AZ-faq-box .faq-box-title {
  font-size: 13px;
  color: #000000;
  font-family: "IRANSans-Regular";
}
.AZ-faq-box .faq-number {
  font-size: 13px;
  color: #7B7B7B;
  font-family: "IRANSans-Regular";
}
.AZ-faq-box span {
  border-radius: 3px;
  background: #6A4BA7;
  width: 32px;
  height: 32px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AZ-faq-list {
  margin-right: 15px;
}
.AZ-faq-list li {
  font-size: 14px;
  color: #000000;
  font-family: "IRANSans-Medium";
  list-style-type: disc;
  padding: 5px 0;
}

.AZ-product-card .product-card-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.AZ-product-card .product-card-img::after {
  padding-bottom: 110%;
}
.AZ-product-card .product-card-name {
  font-size: 14px;
  color: #291550;
  font-family: "IRANSans-Bold";
  margin-bottom: 5px;
}
.AZ-product-card .product-card-text {
  font-size: 12px;
  color: #827797;
  font-family: "IRANSans-Medium";
}

.auto-slide .swiper-slide {
  width: auto;
}

.AZ-product-category {
  border-radius: 5px;
  font-size: 14px;
  color: #234D2E;
  font-family: "IRANSans-Medium";
  padding: 5px 8px;
  display: inline-block;
}
.AZ-product-category.green {
  background: rgba(196, 244, 209, 0.4);
}
.AZ-product-category.yellow {
  background: rgba(241, 207, 156, 0.4);
}
.AZ-product-category.pink {
  background: rgba(220, 144, 199, 0.4);
}
.AZ-product-category.blue {
  background: rgba(91, 188, 201, 0.4);
}
.AZ-product-category.orange {
  background: rgba(243, 192, 192, 0.4);
}
.AZ-product-category.purple {
  background: rgba(214, 203, 236, 0.4);
}

.AZ-box {
  border-radius: 5px;
  background: #EFEBF8;
  padding: 18px;
}
.AZ-box .box-title {
  font-size: 20px;
  color: #372261;
  font-family: "IRANSans-Regular";
  margin-bottom: 10px;
}
.AZ-box .box-text {
  font-size: 15px;
  color: #635A74;
  font-family: "IRANSans-Regular";
  margin-bottom: 10px;
}
.AZ-box .course-price {
  font-size: 18px;
  color: #372261;
  font-family: "IRANSans-Bold";
}

.AZ-homepage .banner-img {
  width: 100%;
  border-radius: 15px;
  margin: 30px 0;
}
.AZ-homepage .banner-img::after {
  padding-bottom: 35%;
}
.AZ-homepage .banner-img .banner-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.AZ-homepage .banner-img .banner-text {
  font-size: 12px;
  color: #000;
  font-family: "IRANSans-Medium";
}
.AZ-homepage .AZ-category-section .category-img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 5px;
}
.AZ-homepage .AZ-category-section .category-img::after {
  padding-bottom: 100%;
}
.AZ-homepage .AZ-category-section .category-title {
  font-size: 13px;
  color: #000000;
  font-family: "IRANSans-Medium";
}
.AZ-homepage .notif-btn {
  font-size: 22px;
  color: #000;
}
.AZ-homepage .credit {
  font-size: 18px;
  color: #000;
  font-family: "IRANSans-Bold";
}

.AZ-dashboard-page .dashboard-menu-list li {
  border-bottom: 1px solid rgba(114, 112, 112, 0.6);
  padding: 12px 0;
}
.AZ-dashboard-page .profile-img {
  width: 52px;
  background: #D9D9D9;
  border-radius: 50%;
}
.AZ-dashboard-page .profile-img::after {
  padding-bottom: 100%;
}
.AZ-dashboard-page .dashboard-link {
  font-size: 16px;
  color: #000000;
  font-family: "IRANSans-Medium";
  display: flex;
  align-items: center;
  gap: 20px;
}
.AZ-dashboard-page .dashboard-link span {
  font-size: 20px;
  color: #4F4F4F;
}
.AZ-dashboard-page .username {
  font-size: 18px;
  color: #000000;
  font-family: "IRANSans-Bold";
}
.AZ-dashboard-page .share-link {
  background: transparent;
  padding: 10px;
  border: 1px dashed #000;
}
.AZ-dashboard-page .share-link button {
  font-size: 25px;
  margin-left: 10px;
  border: none;
  background: transparent;
}
.AZ-dashboard-page .share-link p {
  font-size: 12px;
  font-family: "IRANSans-Medium";
  color: rgba(61, 90, 128, 0.5);
  margin-bottom: 10px;
}
.AZ-dashboard-page #link {
  align-self: center;
  font-size: 14px;
  font-family: "IRANSans-Medium";
  flex-grow: 2;
  border: none;
  text-align: left;
  height: 100%;
  background: transparent;
  width: 150px;
  padding: 0 10px;
}
.AZ-dashboard-page #copy span {
  display: block;
  line-height: 30px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.AZ-dashboard-page #copy span.copied::after {
  content: "با موفقیت کپی شد";
  position: absolute;
  top: 0px;
  right: 35px;
  height: 30px;
  display: block;
  white-space: nowrap;
  padding: 2px 10px;
  font-size: 14px;
  font-family: "IRANSans-Regular";
  color: #fff;
  background-color: #522E99;
  opacity: 1;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}
@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
.AZ-dashboard-page .copy-text {
  font-size: 12px;
  color: #000000;
  font-family: "IRANSans-Medium";
}

.AZ-login-page {
  padding: 40px 0;
}
.AZ-login-page .login-info-title {
  font-size: 20px;
  background: linear-gradient(169deg, #4734F3 48.25%, #4BDB72 92.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  font-family: "IRANSans-Bold";
}
.AZ-login-page .login-text {
  font-size: 13px;
  color: #8C8AA3;
  font-family: "IRANSans-Regular";
  margin-bottom: 10px;
}
.AZ-login-page .landing-title {
  font-size: 18px;
  font-family: "IRANSans-Bold";
  background: linear-gradient(180deg, #4734F3 0%, #4BDB72 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.AZ-login-page .login-title {
  font-size: 15px;
  color: #261D78;
  font-family: "IRANSans-Bold";
}
.AZ-login-page .change-number {
  font-size: 15px;
  color: #39A757;
  font-family: "IRANSans-Regular";
}
.AZ-login-page .get-code-again {
  font-size: 11px;
  color: #8772B0;
  font-family: "IRANSans-Bold";
}
.AZ-login-page .number-code {
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.AZ-login-page .code-input {
  font-size: 11px;
  color: #7B7B7B;
  font-family: "IRANSans-Regular";
  border-radius: 5px;
  border: 1px solid rgba(100, 63, 174, 0.16);
  text-align: center;
  height: 50px;
  outline: none;
  direction: ltr;
  margin: 0 5px;
  width: 45px;
  height: 45px;
}
.AZ-login-page .code-input.active {
  border: 1px solid #643FAE;
}

.AZ-admin-page {
  padding: 30px 0;
}
.AZ-admin-page .dashboard-box {
  border-radius: 8px;
  padding: 20px;
}
.AZ-admin-page .dashboard-box.green {
  background: #D4E2DE;
}
.AZ-admin-page .dashboard-box.red {
  background: #EBDFDF;
}
.AZ-admin-page .dashboard-box.orange {
  background: #F7E8D9;
}
.AZ-admin-page .dashboard-box.purple {
  background: rgba(132, 101, 193, 0.1607843137);
}
.AZ-admin-page .dashboard-box.yellow {
  background: #FFF4CD;
}
.AZ-admin-page .dashboard-box.gold {
  background: #ECE8DC;
}
.AZ-admin-page .dashboard-box-text {
  font-size: 16px;
  color: #000000;
  font-family: "IRANSans-Regular";
}
.AZ-admin-page .dashboard-box-img {
  width: 25px;
}
.AZ-admin-page .dbox {
  border-bottom: 1px solid rgba(100, 63, 174, 0.1607843137);
  padding: 20px 0;
}
.AZ-admin-page .dbox-img {
  width: 45px;
  border-radius: 50%;
}
.AZ-admin-page .dbox-img::after {
  padding-bottom: 100%;
}
.AZ-admin-page .dbox-text {
  font-size: 12px;
  font-family: "IRANSans-Regular";
  color: #2C1B50;
}
.AZ-admin-page .dbox-details {
  font-size: 12px;
  font-family: "IRANSans-Regular";
  color: #868092;
}

.AZ-category-card {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgba(100, 63, 174, 0.3);
  padding: 15px;
}
.AZ-category-card .category-card-img {
  min-width: 68px;
  border-radius: 5px;
}
.AZ-category-card .category-card-img::after {
  padding-bottom: 80%;
}
.AZ-category-card .category-card-title {
  font-size: 14px;
  color: #291550;
  font-family: "IRANSans-Bold";
  margin-bottom: 10px;
}
.AZ-category-card .category-card-btn,
.AZ-category-card .category-card-text {
  font-size: 14px;
  color: #827797;
  font-family: "IRANSans-Bold";
}
.AZ-category-card .category-card-btn {
  font-size: 11px;
}
.AZ-category-card .category-card-btn span {
  font-size: 18px;
}
.AZ-category-card:hover .category-card-title {
  color: #643FAE;
}

.add-hashtag-group .tag-container {
  display: flex;
  flex-flow: row wrap;
}
.add-hashtag-group .tag {
  font-size: 14px;
  color: #000000;
  font-family: "IRANSans-Regular";
  pointer-events: none;
  padding: 6px 6px 6px 25px;
  margin: 5px;
  position: relative;
  border-radius: 10px;
  border: 2px solid #643FAE;
  background: #F7F5FC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.add-hashtag-group .tag::before {
  pointer-events: all;
  display: inline-block;
  content: "\e92f";
  font-family: "icomoon";
  left: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.pl-0 {
  padding-left: 0;
}

.AZ-product-page {
  overflow: hidden;
}
.AZ-product-page .gallery-img {
  width: 100%;
}
.AZ-product-page .gallery-img::after {
  padding-bottom: 80%;
}
.AZ-product-page .product-name {
  font-size: 16px;
  color: #291550;
  font-family: "IRANSans-Bold";
  display: block;
  border-bottom: 1px solid #AAA8C5;
  padding-bottom: 20px;
  margin: 20px 0;
}
.AZ-product-page .product-details {
  font-size: 14px;
  color: #2C1A50;
  font-family: "IRANSans-Regular";
}
.AZ-product-page .swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  background: #ACA9B3;
  border-radius: 0;
}
.AZ-product-page .swiper-pagination-bullet-active {
  background: #522E99;
}

.AZ-forum-list .forum-item-img {
  min-width: 40px;
  border-radius: 50%;
}
.AZ-forum-list .forum-item-img::after {
  padding-bottom: 100%;
}
.AZ-forum-list .forum-item-name {
  font-size: 16px;
  color: #3A3752;
  font-family: "IRANSans-Medium";
}
.AZ-forum-list .forum-item-time {
  font-size: 12px;
  color: #848298;
  font-family: "IRANSans-Regular";
}
.AZ-forum-list .forum-item-time span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #EC930D;
}
.AZ-forum-list .forum-item-text {
  font-size: 12px;
  color: #615C89;
  font-family: "IRANSans-Medium";
}

.AZ-file-page .file-title {
  font-size: 14px;
  color: #322450;
  font-family: "IRANSans-Regular";
}
.AZ-file-page .file-tabContainer {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 40px 0;
}
.AZ-file-page .file-details-title {
  font-size: 15px;
  color: #322450;
  font-family: "IRANSans-Regular";
  margin-bottom: 20px;
}
.AZ-file-page .file-details-text {
  font-size: 13px;
  color: #322450;
  font-family: "IRANSans-Regular";
  margin-bottom: 10px;
}
.AZ-file-page .file-list {
  margin: 0 20px;
}
.AZ-file-page .file-list li {
  list-style-type: decimal;
}

.ltr {
  text-align: left;
  direction: ltr;
}

.file-item {
  border: 1px solid rgba(100, 63, 174, 0.2);
  padding: 15px;
  margin-bottom: 20px;
}
.file-item .file-item-img img {
  width: 60px;
}
.file-item .file-item-name {
  font-size: 14px;
  color: #000000;
  font-family: "IRANSans-Bold";
  position: relative;
  padding-right: 10px;
}
.file-item .file-item-name::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: #000;
}
.file-item .file-item-date {
  font-size: 12px;
  color: #000000;
  font-family: "IRANSans-Medium";
}
.file-item .file-item-date span {
  color: #EC930D;
}
.file-item .file-item-text {
  font-size: 14px;
  color: #746DBA;
  font-family: "IRANSans-Regular";
}

.files-upload_wrapper {
  width: inherit;
  padding: 15px;
  border-radius: 5px;
  border: 1px dashed rgba(100, 63, 174, 0.57);
  background: rgba(100, 63, 174, 0.16);
}
.files-upload_wrapper .filesUpload {
  display: none;
}
.files-upload_wrapper_text {
  font-size: 13px;
  font-family: "KalamehFaNum-Regular";
  color: gray;
}
.files-upload_wrapper .filesUpload-label {
  font-size: 12px;
  cursor: pointer;
  font-family: "IRANSans-Regular";
  color: #643FAE;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 6px 25px;
  background: #FFF;
}
.files-upload_wrapper .uk-text-middle {
  font-size: 13px;
  color: #7B7B7B;
  font-family: "IRANSans-Regular";
  padding: 3px 0;
}
.files-upload_wrapper span {
  color: #7B7B7B;
  font-size: 22px;
}

.file-prew {
  background: #81B29A;
  border-radius: 10px;
  overflow: hidden;
  min-width: 300px;
  width: 300px;
  padding: 5px;
  margin-left: 10px;
}
.file-prew .img-preview-responsive {
  min-width: 100px;
  width: 100px;
  background: #fff;
  margin-left: 10px;
  border-radius: 5px;
}
.file-prew .img-preview-responsive::after {
  padding-bottom: 110%;
}
.file-prew .file-upload-name,
.file-prew .file-upload-size {
  text-align: left;
  display: block;
}
.file-prew .file-upload-size {
  display: flex;
  flex-direction: row-reverse;
}
.file-prew .file-upload-name,
.file-prew .file-upload-size,
.file-prew .download-file,
.file-prew .date-file {
  color: #fff;
  font-family: "IRANSans-Regular";
  font-size: 10px;
  margin: 2px 0;
}
.file-prew .download-file {
  font-size: 10px;
}
.file-prew .date-file {
  font-size: 10px;
  left: 10px;
  bottom: 10px;
}

.bottom-navber {
  border-radius: 16px 16px 0 0;
  background: #E6E0F2;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 480px;
}
.bottom-navber li {
  flex-grow: 1;
  padding: 0 10px;
  height: 100%;
}
.bottom-navber .sc-menu-item {
  font-size: 22px;
  color: #3E3254;
  flex-grow: 1;
  margin: auto;
}
.bottom-navber .sc-menu-item::after {
  padding-bottom: 110%;
}
.bottom-navber .sc-current {
  background-image: url("../img/Subtract.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}
.bottom-navber .sc-current .sc-menu-item {
  transform: translateY(-18px);
  width: 85%;
  border-radius: 50%;
  background: #643FAE;
  color: #fff;
  font-size: 20px;
}
.bottom-navber .sc-current .sc-menu-item::after {
  padding-bottom: 100%;
}

.AZ-download-page .download-btn {
  position: absolute;
  right: 10px;
  color: #000;
  font-size: 20px;
}
.AZ-download-page .download-btn:hover {
  color: #482392;
}
.AZ-download-page .file-details {
  font-size: 12px;
  color: #7B7B7B;
  font-family: "IRANSans-Medium";
}

.AZ-notif-page .notif-item {
  border-bottom: 1px solid rgba(100, 63, 174, 0.2);
  padding: 20px 0;
}
.AZ-notif-page .notif-img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AZ-notif-page .notif-img span {
  font-size: 20px;
  color: #fff;
}
.AZ-notif-page .notif-img.yellow {
  background: #fab005;
}
.AZ-notif-page .notif-img.red {
  background: #bf0d0d;
}
.AZ-notif-page .notif-title,
.AZ-notif-page .notif-date {
  font-size: 14px;
  color: #000000;
  font-family: "IRANSans-Bold";
}
.AZ-notif-page .notif-text {
  font-size: 14px;
  color: #46414F;
  font-family: "IRANSans-Regular";
}
.AZ-notif-page .notif-date {
  font-size: 10px;
  padding-left: 10px;
}
.AZ-notif-page .notif-date span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #643FAE;
}

@media screen and (max-width: 480px) {
  .AZ-page-container {
    width: 100%;
  }
  .page-header-title {
    font-size: 16px;
  }
  .AZ-forum-list .forum-item-name {
    font-size: 14px;
  }
  .AZ-forum-list .forum-item-time {
    font-size: 10px;
  }
  .offcanvas {
    max-width: 100%;
  }
  .bottom-navber {
    left: 0;
    right: 0;
    width: 100%;
  }
}